################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/CITE243Python/v17
/.vs/CITE243Python/v17/.wsuo
/.vs/CITE243Python/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Custom Scripts/.vs
/Custom Scripts/.vs/Custom Scripts
/Custom Scripts/.vs/Custom Scripts/CopilotIndices/17.14.1091.29919
/Custom Scripts/.vs/Custom Scripts/CopilotIndices/17.14.1091.29919/CodeChunks.db
/Custom Scripts/.vs/Custom Scripts/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/Custom Scripts/.vs/Custom Scripts/FileContentIndex
/Custom Scripts/.vs/Custom Scripts/FileContentIndex/fb63ff30-eb2b-4305-a770-013b8391d5e8.vsidx
/Custom Scripts/.vs/Custom Scripts/v17
/Custom Scripts/.vs/Custom Scripts/v17/.wsuo
/Custom Scripts/.vs/Custom Scripts/v17/DocumentLayout.json
/Custom Scripts/.vs/slnx.sqlite
/Custom Scripts/.vs/VSWorkspaceState.json
/Assignments/Unrelated/FaceDetection/faceDetection.py
/Assignments/Unrelated/FaceDetection/haarcascade_frontalface_default.xml
/credentials-sheets.json
/token-drive.pickle
/token-sheets.pickle
