################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/CITE243Python/v17
/.vs/CITE243Python/v17/.wsuo
/.vs/CITE243Python/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
